html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
}

header {
  height: 30vh;
  padding: 0.5rem 0;
  border-bottom: 1px solid #eaeaea;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 4rem;
}

.title,
.description,
#social-media-icons {
  text-align: center;
  font-weight: lighter;
}

.description {
  margin: 0;
  font-size: 1.5rem;
}

#social-media-icons {
  margin-top: 0.5rem;
}

#social-media-icons a {
  margin: 0 0.3rem;
}

main {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-grow: column;
  max-width: 80vw;
  margin: auto;
  margin-top: 30vh;
  margin-bottom: 30vh;
}

main p {
  margin: 0;
  font-size: 3rem;
  width: 100%;
  font-weight: lighter;
}

main p:hover {
  color: darkorchid;
  cursor: pointer;
}

/* Animations? */
.clicked-enter,
.clicked {
  margin-top: 0vh;
  margin-bottom: 0vh;
  transition: margin-top 0.5s, margin-bottom 0.5s;
}

.clicked-exit {
  transition: margin-top 0.5s, margin-bottom 0.5s;
}

/* Résumé */
.react-pdf__Document,
.games,
.portfolio,
.contact {
  display: flex;
  justify-content: center;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.react-pdf__Document-enter,
.resume,
.games-enter,
.games-content,
.portfolio-enter,
.portfolio-content,
.contact-enter,
.contact-content {
  opacity: 1;
  height: auto;
  transition: opacity 0.5s;
}

.games-content,
.portfolio-content,
.contact-content {
  height: 60vh;
}

.react-pdf__Document-exit,
.games-exit,
.portfolio-exit,
.contact-exit {
  opacity: 0;
  height: auto;
  transition: opacity 0.5s;
}

/* Placeholder style */
