html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
}

header {
  height: 30vh;
  padding: 0.5rem 0;
  border-bottom: 1px solid #eaeaea;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 4rem;
}

.title,
.description,
#social-media-icons {
  text-align: center;
  font-weight: lighter;
}

.description {
  margin: 0;
  font-size: 1.5rem;
}

#social-media-icons {
  margin-top: 0.5rem;
}

#social-media-icons a {
  margin: 0 0.3rem;
}

main {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-grow: column;
  height: 70vh;
  max-width: 700px;
  margin: auto;
}

main p {
  margin: 0;
  font-size: 3rem;
  width: 100%;
  font-weight: lighter;
}

main p:hover {
  color: darkorchid;
  cursor: pointer;
}

/* Animations? */
main.clicked {
  align-items: flex-start;
}
